.navbar{
    margin:0px;
    padding: 10px;
    height:70px;
    width:100%;
}
.nav{
    display:flex;
    justify-content: space-between;
}
Link{
    margin:50px;
}
.mr-auto{
    margin:50px;
}
.a{
    margin:20px;
}